.tooltip-description {
  margin-top: 0.25em;
}

.mctooltip .color-aqua {
  text-shadow: 2px 2px #153f3f;
}

.mctooltip .color-black {
  text-shadow: 2px 2px #000000;
}

.mctooltip .color-blue {
  text-shadow: 2px 2px #15153f;
}

.mctooltip .color-dark_aqua {
  text-shadow: 2px 2px #002a2a;
}

.mctooltip .color-dark_blue {
  text-shadow: 2px 2px #00002a;
}

.mctooltip .color-dark_gray {
  text-shadow: 2px 2px #151515;
}

.mctooltip .color-dark_green {
  text-shadow: 2px 2px #002a00;
}

.mctooltip .color-dark_purple {
  text-shadow: 2px 2px #2a002a;
}

.mctooltip .color-dark_red {
  text-shadow: 2px 2px #2a0000;
}

.mctooltip .color-gold {
  text-shadow: 2px 2px #2a2a00;
}

.mctooltip .color-gray {
  text-shadow: 2px 2px #2a2a2a;
}

.mctooltip .color-green {
  text-shadow: 2px 2px #153f15;
}

.mctooltip .color-light_purple {
  text-shadow: 2px 2px #3f153f;
}

.mctooltip .color-red {
  text-shadow: 2px 2px #3f1515;
}

.mctooltip .color-white {
  text-shadow: 2px 2px #3f3f3f;
}

.mctooltip .color-yellow {
  text-shadow: 2px 2px #3f3f15;
}

.text-bold.color-aqua {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #153f3f, 2.35px 2px #153f3f,
    3.2px 2px #153f3f !important;
}

.text-bold.color-black {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #000000, 2.35px 2px #000000,
    3.2px 2px #000000 !important;
}

.text-bold.color-blue {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #15153f, 2.35px 2px #15153f,
    3.2px 2px #15153f !important;
}

.text-bold.color-dark_aqua {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #002a2a, 2.35px 2px #002a2a,
    3.2px 2px #002a2a !important;
}

.text-bold.color-dark_blue {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #00002a, 2.35px 2px #00002a,
    3.2px 2px #00002a !important;
}

.text-bold.color-dark_gray {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #151515, 2.35px 2px #151515,
    3.2px 2px #151515 !important;
}

.text-bold.color-dark_green {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #002a00, 2.35px 2px #002a00,
    3.2px 2px #002a00 !important;
}

.text-bold.color-dark_purple {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #2a002a, 2.35px 2px #2a002a,
    3.2px 2px #2a002a !important;
}

.text-bold.color-dark_red {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #2a0000, 2.35px 2px #2a0000,
    3.2px 2px #2a0000 !important;
}

.text-bold.color-gold {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #2a2a00, 2.35px 2px #2a2a00,
    3.2px 2px #2a2a00 !important;
}

.text-bold.color-gray {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #2a2a2a, 2.35px 2px #2a2a2a,
    3.2px 2px #2a2a2a !important;
}

.text-bold.color-green {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #153f15, 2.35px 2px #153f15,
    3.2px 2px #153f15 !important;
}

.text-bold.color-light_purple {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #3f153f, 2.35px 2px #3f153f,
    3.2px 2px #3f153f !important;
}

.text-bold.color-red {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #3f1515, 2.35px 2px #3f1515,
    3.2px 2px #3f1515 !important;
}

.text-bold.color-white {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #3f3f3f, 2.35px 2px #3f3f3f,
    3.2px 2px #3f3f3f !important;
}

.text-bold.color-yellow {
  letter-spacing: 1.5px;
  text-shadow: 0.75px 0, 1.5px 0, 1.5px 2px #3f3f15, 2.35px 2px #3f3f15,
    3.2px 2px #3f3f15 !important;
}

.color-aqua {
  color: #55ffff;
}

.color-black {
  color: #000000;
}

.color-blue {
  color: #5555ff;
}

.color-dark_aqua {
  color: #00aaaa;
}

.color-dark_blue {
  color: #0000aa;
}

.color-dark_gray {
  color: #555555;
}

.color-dark_green {
  color: #00aa00;
}

.color-dark_purple {
  color: #aa00aa;
}

.color-dark_red {
  color: #aa0000;
}

.color-gold {
  color: #ffaa00;
}

.color-gray {
  color: #aaaaaa;
}

.color-green {
  color: #55ff55;
}

.color-light_purple {
  color: #ff55ff;
}

.color-red {
  color: #ff5555;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #ffff55;
}

.text-italic {
  font-style: italic;
}

.text-obfuscated {
  display: inline-block;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}
